{% extends 'layout.html' %}
{% load static %}


{% block content %}
    <div class="container">
      <div id="end" class="flex-center flex-column">
        <!-- <h1 id="finalScore"></h1> -->
        <form>
          <button
            type="submit"
            class="btn"
            id="saveScoreBtn"
            onclick="saveHighScore(event)"
          >
            Get Recommended Songs
          </button>
        </form>
        <a class="btn" href="index.html">Want to try again?</a>
      </div>
    </div>
  {% endblock content %}

 
