   {% extends 'layout.html' %}
   {% load static %}
  
   {% block content %}
   <div class="container">
      <div id="game" class="justify-center flex-column">
        <div id="hud">
          <div id="hud-item">
            <p id="progressText" class="hud-prefix">
              Question
            </p>
            <div id="progressBar">
              <div id="progressBarFull"></div>
            </div>
          </div>
          <div id="hud-item">
            <h1 class="hud-main-text" id="score">
            </h1>
          </div>
        </div>
        <h2 id="question">What is the answer to this questions?</h2>
        <div class="choice-container">
          <p class="choice-prefix">A</p>
          <p class="choice-text" data-number="1">Choice 1</p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">B</p>
          <p class="choice-text" data-number="2">Choice 2</p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">C</p>
          <p class="choice-text" data-number="3">Choice 3</p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">D</p>
          <p class="choice-text" data-number="4">Choice 4</p>
        </div>
      </div>
    </div>
    {% block javascript %}
    <script>
        $(document).ready(function () {
            /*
                On submiting the form, send the POST ajax
                request to server and after successfull submission
                display the object.
            */
            $("#recommend-form").submit(function (e) {
                // preventing from page reload and default actions
                e.preventDefault();
                // serialize the data for sending the form data.
                var serializedData = $(this).serialize();
                // make POST ajax call
                $.ajax({
                    type: 'POST',
                    url: "#",
                    data: serializedData,
                    success: function (response) {
                        
                        // on successfull creating object
                        // 1. clear the form.
                        $("#recommend-form").trigger('reset');
                        // 2. focus to nickname input 
                        //$("#id_nick_name").focus();
    
                        // display the newly friend to table.
                        var instance = JSON.parse(response["instance"]);
                        var fields = instance[0]["fields"];
                        $("#my_friends tbody").prepend(
                            `<tr>
                            <td>${fields["acousticness"]||""}</td>
                            <td>${fields["danceability"]||""}</td>
                            <td>${fields["valence"]||""}</td>
                            <td>${fields["instrumentalness"]||""}</td>
                            <td>${fields["energy"]||""}</td>
                            <td>${fields["speechiness"]||""}</td>
                            <td>${fields["tempo"]||""}</td>
                            </tr>`
                        )
             
                    },
                    error: function (response) {
                        // alert the error if any error occured
                        alert(response["responseJSON"]["error"]);
                    }
                })
            })
    
            /*
            On focus out on input nickname,
            call AJAX get request to check if the nickName
            already exists or not.
            */
            $("#id_nick_name").focusout(function (e) {
                e.preventDefault();
                // get the nickname
                var nick_name = $(this).val();
                // GET AJAX request
                $.ajax({
                    type: 'GET',
                    url: "#",
                    data: {"nick_name": nick_name},
                    success: function (response) {
                        // if not valid user, alert the user
                        if(!response["valid"]){
                            alert("You cannot create a friend with same nick name");
                            var nickName = $("#id_nick_name");
                            nickName.val("")
                            nickName.focus()
                        }
                    },
                    error: function (response) {
                        console.log(response)
                    }
                })
            })
        })
    </script>
    {% endblock javascript %} 
   {% endblock content %}


